@model QuanLyNhanSu.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    ViewBag.active = "Admin";

}

<div class="row" style="margin:60px 0">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span><i class="glyphicon glyphicon-log-in"></i> </span>Đổi mật khẩu</h3>
            </div>
            <div class="panel-body" style="text-align: -webkit-center;">

                <form class="form-horizontal" @Url.Action("ChangePassword", "ChangePassword") method="post" role="form" action="">

                    @Html.AntiForgeryToken()
                    @* mat khau cũ *@
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Mật khẩu hiện tại</label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   type="password"
                                   name="CurrentPassword"
                                   placeholder="Mật khẩu hiện tại">
                            @Html.ValidationMessageFor(model => model.CurrentPassword)
                        </div>
                    </div>
                    @* mat khau moi *@
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Mật khẩu mới</label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   type="password"
                                   name="NewPassword"
                                   placeholder="Mật khẩu mới">
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                    @* xac nhan mat khau *@
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Xác nhận mật khẩu</label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   type="password"
                                   name="ConfirmPassword"
                                   placeholder="Xác nhận mật khẩu mới">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                    @* btn dang nhap *@
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-success">
                                <span>
                                    <i class="fa fa-exchange"></i>
                                </span> Đổi mật khẩu
                            </button>
                        </div>

                    </div>
                    <span class="text-danger"> @ViewBag.err</span>
                </form>

            </div>
        </div>
    </div>
</div>